Package: org.coolstar.safemode
Version: 1.1.4
Architecture: iphoneos-arm
Maintainer: CoolStar <coolstarorganization@gmail.com>
Depends: firmware (>= 11.0), cy+cpu.arm64
Replaces: org.coolstar.libhooker (<<1.2.5)
Section: System
Description: Safe Mode app for libhooker
Author: CoolStar <coolstarorganization@gmail.com>
Name: Safe Mode (libhooker)
